$paper: white;  			// the page
$desk: #ddffdd;				// what it sits on

$ink: 			#333;		// nearly black
$ink-strong:	#000;		// actually black
$ink-weak:		#666;		// pale grey
$ink-weakest: lighten($ink-weak, 33%);

$hot:			#e10202; 	// dark red
$cool:			#159a51;	// funky green was 	#09ab70;


$serif: 'Rockwell'; 
$sans:  'Helvetica';

$paper-elsewhere: #E9FEF2;  // very pale green behind elsewhere links

$debug: pink;  // normally hidden, use to reveal box model borders for debug
	
$margin-left-percent: 8.198707592892%;   //
$content-width-percent: 88.852988691438%;   

// was 88.852988691438


$basic-grid-unit: 58px;   // has been 58 for a while

$gutter: $basic-grid-unit;  				// gutter inherits, could change
$half-gutter: $gutter/2;					// gutter made from half on left and half on right


$image-width: 4*$basic-grid-unit;			// was 228 nice rhythum for iamges to gutters

$main-image-max-width: 24*$basic-grid-unit+16;   // 1408 with 58
