
// four columns across the big screen with margins on the right

footer section {
	width: 20%;
	padding-right: 5%;
	display: block;
	float: left;
	vertical-align: top;		
}


.elsewhere-item {
	width: 24%;
}


