$paper: white;

$ink: 			#222;		// nearly black
$ink-strong:	#000;		// actually black
$ink-weak:		#444;		// pale grey
$hot:			#e10202; 	// dark red
$cool:			#09ab70;	// funky green

$serif: 'Rockwell'; 
$sans:  'Helvetica';

