$paper: white;  			// the page
$desk: #ccc;				// what it sits on

$ink: 			#333;		// nearly black
$ink-strong:	#000;		// actually black
$ink-weak:		#666;		// pale grey
$ink-weakest: lighten($ink-weak, 33%);

$hot:			#e10202; 	// dark red
$cool:			#09ab70;	// funky green


$serif: 'Rockwell'; 
$sans:  'Helvetica';

$paper-elsewhere: #E9FEF2;  // very pale green behind elsewhere links

$debug: pink;  // normally hidden, use to reveal box model borders for debug