// 'TABLET' means stuff that happens above 768 ipad portrait and above
 
 @media screen and (min-width:768px) {

	html {
		background-color: #dfeaf4; /* pale blue to show the tablet stylesheet is in action */
		}

#credit-author {	 
	float: right;
	padding-top: 20px;
	padding-right: 20px;
	}
	
// featured photostories grid wraps according to the number of stories	


#featured-photostories ul {
	margin-left: 58px; // was 116
}

	
#featured-photostories li {
	display: inline-block;
	vertical-align: bottom;
	width: 228px;
	margin-right: 58px;
}
#featured-photostories h2 {
	margin-bottom: 0.3em;
}	
	
#featured-photostories ul p {
	margin-top: 0.5em;
	height: 6em;
	text-overflow: ellipsis;
	overflow:hidden; 
	//border:1px solid #000000;
}


	
footer section {
	width: 20%;
	padding-right: 2.5%;
	padding-left: 2.5%;
	display: block;
	float: left;
	vertical-align: top;		
}


footer {
	padding-bottom: 25px;
}


.elsewhere-item {
	width: 20%;
	padding-right: 2.5%;
	padding-left: 2.5%;
}






// end rules for screens greater than 768
}
