/* The basic canvas */

html {
	background-color: $desk;
	}
	
#page-frame {
	background-color: $paper;
	border: 1px solid $ink-weakest;
	width: 96%;  // was 96%, then 98
	margin: 1em auto;
	overflow: hidden;
    -webkit-box-shadow:  2px 2px 3px #77777; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
    box-shadow:  2px 2px 3px #77777; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
}

body {
	color: $ink;
	font-family: $sans;
	}



/* Essential typography */

h1 {
	font-family: $serif;
	font-style: normal;
	font-weight: 600;
	font-size: 1em;
	color: $hot;
	margin: 0em;
	}



h2, dt {
	font-family: $serif;
	font-size: 1.33em;
	font-weight: 100;
	color: $ink-strong;
	margin: 0em;
	}

h3,  {
	font-family: $sans;
	font-size: 0.70em;
	font-weight: bold;
	margin: 0 0 0.5em 0; 
	color: $hot;
	}
	
	
h4 {
	font-family: sans-serif;
	font-size: 0.70em;
	color: $ink-strong;
	margin-top: 0.5em;
	}

/* Links, generic */



a {text-decoration: none;}

a:link 		{color:$cool;}      	
a:visited 	{color:lighten($cool, 10%)}  		
a:hover 	{color:darken($cool, 10%)}  	

a:active {
	background: $cool;
	color: $paper;
	}  		


p, dd 	{
	font-size: 0.75em;
	margin: 0 0 0.5em 0; 
	color: $ink-weak;
	}
	
/* Buttons, calls to action */	
	
.button {
  	display: inline;
  	font-weight: 600;
 	background-color: lighten($cool,20);
 	border-radius: 6px;
 	padding: 0.25em 0.85em;
 	margin: 0 0.25em;
 	white-space: nowrap;
}

a.button {
 	color: $paper;
}
a.button:hover {
 	background-color: lighten($cool,10);
	}	
a.button:active {
 	background-color: $cool;
	}		

/* Masthead */

#masthead {
	display: block;
	// background: pink;
// 	border: 1px solid red;
	float: left;
	margin-bottom: 10px;
	margin-top: -0em;
	}

#credit-author {	 
	font-size: 0.7em;  
	color: $ink-weak;
	padding-left: 0.2em;
	}
	



/* pale grey lines above every main area */

section#featured-photostories, section#elsewhere, footer   {
	padding-top: 1em;
	border-top:   $ink-weakest 1px dotted;
	}
	
section#featured-photostories {
	// border-bottom:   $ink-weakest 1px dotted;

}



/* lead story is considered part of the header */

header h1 {
	text-indent: -5000px;
	// 	PREVIOUSLY background: url( '../img/vda-logo@2x.png' ) no-repeat;

	background: url( '../img/vda-logo-black-and-white-large@2x.png' ) no-repeat;
	background-size: 379px 41px;  // downsample for retina from hi-dpi asset
	width: 379px;
	height: 41px;
	}
	
	
header h2 {
	background-color: #f6f671;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-left: 0px;
	text-align: center;
	}
	
header h2 {
	width: 225px;
}


header h2 {
	font-family: $sans;
	font-size: 0.70em;
	color: $ink-strong;
	}


#lead-story img  {width: 100%;
	}

/* images in general useful */

img.fullwidth {width: 100%;}






/* keywords in losenges */


.keywords { 
/* 	border: 1px dotted $debug; */
	margin:0;
	padding:0;
	list-style:none;
	}

.keywords li, keywords a {	
  	display: inline;
  	font-size:0.7em;
 	color: $cool;
 	background-color: lighten($cool, 63%);
 	border: 1px solid fade-out($cool, 0.7);
 	border-radius: 3px;
 	line-height:2.5em;
 	padding: 0.35em 0.45em;
 	margin: 0.25em 0.5em 0.25em 0em;
 	white-space: nowrap;
 	}
 	
 	
 	



small, time, footer p {
	font-family: $sans;
	font-size: 0.7em;
	margin: 0;
	}

small, time {
	color: $ink-weakest;
	}

footer p {
	line-height: 1.3;
}

// Links elsewhere

// dls used to mark up elsewhere items		

#elsewhere {
	background: $paper-elsewhere;
}

.elsewhere-item h2 {
	font-weight: 400;
	font-size: 0.9em;
	}
	
.elsewhere-item h2 a:link  		{color: $ink-strong}
.elsewhere-item h2 a:hover 		{color: $ink-weak}
.elsewhere-item h2 a:visited 	{color: $ink}


.elsewhere-item h3 a:link		{color: $hot;}
.elsewhere-item h3 a:visited  	{color: lighten($hot, 10%)}
.elsewhere-item h3 a:hover 	{color: darken($hot, 10%)}
.elsewhere-item h3 a:active {
	background: $hot;
	color: $paper;
	}  		

.elsewhere-item time {
	float: right;
	}

.elsewhere-item {
	// display: inline-block;
	float: left;
	// vertical-align: top;
	margin-bottom: 2em;
	}

footer {
		background-color: yellow;
		overflow:hidden;
		}


footer h1 {
		font-size: 0.7em;
		margin-top: 1em;
		margin-bottom: 0.25em;
		}
		
#contact p {
	width: $basic-grid-unit*2.5;
	line-height: 2em; 
}		

.telephone-number a {float:right;
	
}

