body {	color: #6c6c6c;
		font-family: Helvetica;
}

h1 {	font-family: Rockwell;
		font-style: normal;
		font-weight: 600;
		font-size: 1em;
		color: red;
		}



h2 {	font-family: Rockwell;
		font-size: 1.2em;
		font-weight: 100;
		color: black;
		}

h3 {	font-family: Helvetica;
		font-size: 0.8em;
		color: red;
		}



a {text-decoration: none;}








